/*****BODY*****/
body {
    line-height: 2rem;
    background-color: #b6cecf;
 }
  
  
 /*****NAVIGATION*****/
 .navbar-custom {
    background-color:  black;
 }
  
 .navbar-custom .navbar-brand,
 .navbar-custom .navbar-text {
    color: rgb(255, 255, 255);
 }
  
 .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #6CABA9;
 }
  
 .nav .nav-item .nav-link {
    color: grey;
   
 }
  
 .nav .nav-item .nav-link:hover, .nav .nav-item .nav-link:active .navbar-brand:hover{
    background-color:black;
    color: rgb(108, 236, 236);
 }
  
  
  
 .nav .nav-item .active {
    background-color: black;
    color: rgb(108, 236, 236);
  }
  
  
 /*****PAGE TITLE*****/
h1 {
   text-align: center;
   font-size: 2.25rem;
   margin-bottom: 3.5rem;
   margin-top: 5rem;
}

 h2 {
    /* color: #6CABA9; */
    text-align: center;
    margin-top: 4rem;
 }
  
 h3 {
   text-align: center;
   font-size: 0.7rem;
   margin-bottom: 1.4rem;
   margin-top: 1.2rem;
}

 hr {
    border: 2px dotted black;
    margin-bottom: 2rem;
 }
  
 a {
    color: rgb(255, 255, 255);
 }
  
 a:active, a:hover {
    color: rgb(108, 236, 236);
    text-decoration:none
 }
  
  

 /*****BUTTONS*****/
.button-submit {
   display:inline-block;
   padding:0.3em 1.2em;
   margin:0 0.1em 0.1em 0;
   border:0.16em solid rgba(255, 255, 255, 0);
   border-radius:2em;
   box-sizing: border-box;
   font-weight:400;
   color:rgb(0, 81, 255);
   text-shadow: 0 0.05em 0.05em rgba(0, 0, 0, 0.479);
   text-align:center;
   transition: all 0.2s;
}

.button-submit:hover {
   border-color: rgba(255,255,255,1);
   color:rgb(70, 44, 185);
}

#randomizer-button {
   text-align: center;
   position: center;
   margin-top: 1.5rem;
   padding: 0.5rem 5.0rem;
}



/*****MOVIES*****/
.col-md-12 {
   text-align: center;
}

.col-md-4 {
   margin-top: 2rem;
   text-align: center;
   font-style: italic;
   /* font-size: 1.5rem; */
}


/*****SEARCH RESULTS*****/
#spacer {
   height: 5vh;
}


.item-container {
   text-align: center;
   padding: 0 1.9rem;
}

.watch-buttons {
   margin-left: 1.9rem;
   margin-top: 1.1rem;
}

 /*****FOOTER*****/
 .myFooter {
    background-color: black;
    color: white;
    margin-top: 2rem;
 }
  
 .myFooter a {
    color: #6BABA8;
 }
  
 .myFooter a:hover, .myFooter a:active{
    color:white;
    border-color: white;
 }
  

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

 

